<link href="style.css" rel="stylesheet">
<nav class="navbar navbar-default nav-fix">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Shajee Cuevas</a>
            </div>
            <ul class="nav navbar-nav">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="active"><a href="about"><span class="glyphicon glyphicon-pencil"></span> About Me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-camera"></span> Gallery</a></li>
            </ul>
        </div>
</nav>