<link href="style.css" rel="stylesheet">
<nav class="navbar navbar-default nav-fix">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="http://bfy.tw/CPSE">Shajee Cuevas</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="about"><span class="glyphicon glyphicon-user"></span> About Me</a></li>
            <li><a href="blog"><span class="glyphicon glyphicon-book"></span> Blog</a></li>
            <li><a href="comment"><span class="glyphicon glyphicon-pencil"></span> Comment</a></li>
            <!--<li><a href="#"><span class="glyphicon glyphicon-camera"></span> Gallery</a></li>-->
            </ul>
        </div>
</nav>