<p> </p>
<p> Welcome to my page! </p>
<p id="home-paragraph"> From here, you can view information about me, my blog, and even write a blog post yourself!
    Just follow the navigation bar above! On your left, you'll see my GitHub which has my projects!
    You can also find me on Steam, Bitbucket and Facebook, which I have linked on the left aswell. </p>