    <link href="style.css" rel="stylesheet">
    <div class="row">
        <div class="col-md-2 row-height padding-0">
            <div id="div-sidebar">
                <ul class="nav nav-pills nav-stacked">            
                <li role="presentation" class="active"><a href="https://github.com/shajeecuevas">GitHub</a></li>
                <li role="presentation"><a href="https://bitbucket.org/dashboard/repositories">Bitbucket</a></li>
                <li role="presentation"><a href="http://steamcommunity.com/id/SmokinDevil">Steam</a></li>
                <li role="presentation"><a hrek="https://www.facebook.com/shajee.cuevas">Facebook</a></li>
                </ul> 
            </div>
    </div>

