<!-- views/index.ejs -->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="style.css" rel="stylesheet">
        <% include ../views/partials/head %>
    </head>
    <body class="container">

        <header>
              <% include ../views/partials/aboutHeader.ejs %>
              <!-- <% include ../views/partials/defaultHeader.ejs %> -->
        </header>

        <sideBar>
                <% include ../views/partials/sideBar.ejs %>
        </sideBar>

        <main>

                <div class = "col-md-8 row-height padding-0">
                    <div class = "column-middle padding-0">
                            My earliest memory of using a computer was in my home in Manhattan. It was around 2000 when my 
                            mother installed the Netzero browser on our new Windows ME computer. I remember the internet being 
                            terribly slow but that wouldn't stop me from browsing all the 'cool' websites and looking at all the
                            cool games I didn't get to play. It was in 2001 when I made my first email address (the same one I use
                            today). I even remember how people reacted when World of Warcraft released. From that day forward I 
                            was hooked. 
                            </p>
                            <p>
                            It wasn't until 10th grade when I took my first computer programming course in Java and C++. Of the two,
                            I preferred Java. We used BlueJay to code in and it had the poorest error checking. The program would 
                            tell you when you had an error but would not tell you where. It was fun. Since then, I have expanded 
                            my list of languages to include Javascript and C#. I also took the time to learn some frameworks on my
                            own such as React, Redux, Boostrap, Knockout.JS and JSNode.
                    </div>
                </div>
                <div class = "col-md-2 row-height padding-0">
                    <div class = "column-right padding-0">
                        This should be col-md-2
                    </div>
                </div>        

        </main>

        <footer>
            <% include ../views/partials/footer.ejs %>
        </footer>
    </body>
    </html>