<!-- views/index.ejs -->

<!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="style.css" rel="stylesheet">
        <% include ../views/partials/head %>
    </head>
    <body class="container">

        <header>
               <% include ../views/partials/homeHeader.ejs %>
        </header>

        <sideBar>
                <% include ../views/partials/sideBar.ejs %>
        </sideBar>

        <main>
            
                <div class = "col-md-8 row-height padding-0">
                    <div class = "column-middle padding-0">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class = "col-md-2 row-height padding-0">
                    <div class = "column-right padding-0">
                        This should be col-md-2
                    </div>
                </div>
        </main>

        <footer>
            <% include ../views/partials/footer.ejs %>
        </footer>
    </body>
    </html>